@font-face {
  font-family: Garamond;
  src: url("fonts/EBGaramond12-Regular.ttf");
}

.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: Helvetica, sans-serif
}
.container,
body,
html {
    height: 100%
}
.container {
    display: flex
}
.game {
    margin: auto;
    text-align: center;
    line-height: 154.5px;
    width: 348px;
    height: 348px
}
.cell {
    width: 154.5px;
    height: 154.5px;
    margin-right: 7px;
    border-radius: 4px;
    margin-bottom: 7px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .2) 0 1px 2px 0;
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    position: absolute
}
.empty {
    opacity: 0
}
.nodrag {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.board {
    width: 927px;
    height: 1236px;
}
.whitecell {
    background-color: #FCFCFC;
}
.backrowcell {
    background-color: #BBAEBF;
}
.blackcell {
    background-color: #B3CEE6;
}

.powerwhitecell {
    background-color: #E3F2E4;
}
.powerblackcell {
    background-color: #4b9666;
}

.superpowerwhitecell {
    background-color: #E4F3E5;
}
.superpowerblackcell {
    background-color: #1c5b33;
}

.playerhandcard {
}
.playerhandcard:hover {
    z-index: 9999;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.cardspell {
    user-select: none;
    backface-visibility: hidden;
    border: 0.5mm solid black;
    border-radius: 1.8897637795px;
    width: 63mm;
    height: 88mm;
}
#handcardcontainer {
    /* fixed layout element wrapper */
    /* width: 200px;
    height: 2em; */
    /* needs height, since it contains only `position:absolute` elements*/
    position: absolute;
    /* border: 1px solid green; */
    -webkit-transition: top 1s; /* Safari */
    transition: "all 1s";
    top: 0px;
    z-index: 0;
}


#handcardcontainer:hover {
    z-index: 400;
}

#handcardcontainer:hover #handcard {
/* now based on the wrapper instead of the */
transform: scale(1.5,1.5);
top: -100px;
/* blipper */
}

/* .card {
    transition: "all 5s";
    z-index: 0;
}
.card:hover {
    transform: translate(0px, -250px);
    z-index: 4000;
}
.card:hover:after {
    content: '';
    left: 0;
    top: -50px;
    height: 63mm;
    width: 100%;
    border: 3px solid blue;
    box-sizing: border-box;
  } */
body {
    overflow: scroll;
    /* height: 1024;
    width: 768; */
}
.cardspell-back {
    position: absolute;
    background: rgb(204, 204, 220) url("images/spell.png");
    user-select: none;
    backface-visibility: hidden;
    border: 0.3mm solid black;
    border-radius: 1.8897637795px;
    width: 63mm;
    height: 88mm;
    z-index: -1;
}

.cardlord-back {
    position: absolute;
    background: rgb(204, 204, 220) url("images/hero.png");
    user-select: none;
    backface-visibility: hidden;
    border: 0.3mm solid black;
    border-radius: 1.8897637795px;
    width: 63mm;
    height: 88mm;
    z-index: -1;
}

.cardspell:hover {
    cursor: pointer;
}
#svg2 {
    height: 100px;
    width: 100px;
}

.cardunit-back {
    position: absolute;
    background-image: url("images/equip.png");
    user-select: none;
    backface-visibility: hidden;
    border: 0.3mm solid black;
    border-radius: 1.8897637795px;
    width: 63mm;
    height: 332.5984252px;
    z-index: -1;
}
.cardunit {
    /*background-image: url("images/equip.png");*/
    user-select: none;
    backface-visibility: hidden;
    border: 0.3mm solid black;
    border-radius: 1.8897637795px;
    width: 63mm;
    height: 332.5984252px;
}
.cardunit:hover {
    cursor: pointer;
}

.typebox {
    position: absolute;
    background-color: rgba(0,0,0,0.0);
    transform: translate(-40%, -10%);
    color: black;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    text-align: right;
    margin-top: 83mm;
    margin-left: 3.5mm;
    width: 150%;
    /*width: 25.3mm;
    height: 15mm;*/
    z-index: 11;
    /*float:left;*/
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-weight: bold;
    font-size: 12pt;
}

.board_typebox {
    position: absolute;
    background-color: rgba(0,0,0,0.0);
    color: white;
    user-select: none;
    text-shadow: 1px 1px black;
    -moz-user-select: none; /* Firefox */
    text-align: center;
    margin-top: 90px; /*
    margin-left: 3.5mm; */
    width: 100%;
    /*width: 25.3mm;
    height: 15mm;*/
    z-index: 11;
    /*float:left;*/
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-weight: bold;
    font-size: 8pt;
}
.inlineblock {
    display: inline-block;
}

.ssmallresourcecost {
    width: 3.2mm;
    height: 0mm;
    margin: 0mm 0mm;
}
.smallresourcecost {
    width: 5.4mm;
    height: 5mm;
    margin: -0.5mm 0mm;
}

.resourcecost {
    width: 7mm;
    height: 8mm;
}

.costbox {
    opacity: 1.0;
    position: absolute;
    /*background-color: rgba(15,15,15,1.0);*/
    background-color: rgba(0,0,0,0.8);
    border-style: solid;
    border-width: 0.3mm;
    border-radius: 1mm;
    border-color: black;
    margin: 16mm 7mm;
    width: 7.5mm;
    height: 7.5mm;
    /* height: 15.75mm; */
}

.powerbox {
    opacity: 1.0;
    position: absolute;
    /*background-color: rgba(15,15,15,1.0);*/
    background-color: rgba(0,0,0,0.8);
    border-style: solid;
    border-width: 0.3mm;
    border-radius: 1mm;
    border-color: black;
    margin: 35mm 7mm;
    width: 7.5mm;
    height: 7.5mm;
    /* height: 15.75mm; */
}

.statline {
    height: 6mm;
}

.statbox {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    border-style: solid;
    border-width: 0.3mm;
    border-color: black;
    border-radius: 1mm;
    margin-top: 51.7mm;
    margin-left: 12.4mm;
    width: 36mm;
    height: 6mm;
    overflow: hidden;
}

.statimage {
    float: left;
    height: 6mm;
    width: 6mm;
}

.namefield {
    position: absolute;
    transform: translate(-50%, 0%);
    border-style: solid;
    border-width: 0.3mm;
    border-radius: 1mm;
    color: black;
    background-color: rgba(255,255,255,1.0);
    margin: 1.2mm 31.5mm;
    width: 60mm;
    height: 6mm;
}

.gold {
    position: absolute;
    left: -0.4mm;
    margin: 0mm 0mm;
    width: 8mm;
    height: 8mm;
}

.mana {
    position: absolute;
    left: -0.4mm;
    margin: 0mm 0mm;
    width: 8mm;
    height: 8mm;
}

.ssmalltap {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: -2mm 1.5mm;
    width: 5mm;
    height: 5mm;
}
.smalltap {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 2mm 2.6mm;
    width: 7mm;
    height: 7mm;
}

.smallmana {
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 3.25mm 2.75mm;
    width: 6.5mm;
    height: 6.5mm;
}


.smallmanacost {
    position: absolute;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    transform: translate(0%, -50%);
    text-align: center;
    width: 10mm;
    margin: 3.1mm -2.6mm;
    text-shadow:
       1px 1px 0 #000;
    font-size: 6mm;
    font-weight: bold;
    color: rgb(255,255,255);
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
.manacost {
    position: absolute;
    text-align: center;
    width: 12mm;
    margin: -1.5mm -2.15mm;
    text-shadow:
       2px 2px 0 rgb(105,0,0);
    font-size: 10mm;
    color: rgb(255,255,255);
    font-weight: bold;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

.powervalue {
    position: absolute;
    text-align: center;
    width: 12mm;
    margin: -1.5mm -2.15mm;
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; */
    text-shadow: 2px 2px 0 rgb(0, 105, 0);
    font-size: 10mm;
    font-weight: bold;
    color: rgb(255,255, 255);
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}


.avatar {
    position: absolute;
    display: block;
    background-color: black;
    margin: 9mm 31.5mm;
    transform: translate(-50%, 0%);
    border-style: solid;
    border-width: 0.3mm;
    border-radius: 1mm;
    border-color: black;
    width: 60mm;
    height: 52mm;
}

.avatar-lord {
    position: absolute;
    display: block;
    background-color: black;
    margin: 9mm 31.5mm;
    transform: translate(-50%, 0%);
    border-style: solid;
    border-width: 0.3mm;
    border-radius: 1mm;
    border-color: black;
    width: 60mm;
    height: 62mm;
}

.victory-points {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 45pt;
    font-weight: 500;
}

.name {
    position: absolute;
    text-align: center;
    margin-top: 1mm;
    margin-left: 0mm;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 15pt;
    font-weight: 500;
    width: 100%;
    overflow:hidden;
    white-space:nowrap;
    height: 10mm;
}

.icon {
    width: 7mm;
    height: 7mm;
    vertical-align: text-bottom;
    margin: 1mm;
}

.iconcell {
    padding: 0.5mm;
    margin-right: 1mm;
}

.carac {
    float: right;
    margin: 3mm;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-weight: bold;
    font-size: 16pt;
}

.flavcolor {
    color: rgba(25,100,55,1.0);
}
.flavourtext {
    position: absolute;
    transform: translate(0%, -100%);
    line-height: 95%;
    /*color: rgba(25,100,55,1.0); For consistency, dont have this yet */
    text-align: left;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    margin-top: 86mm;
    margin-left: 2mm;
    width: 45mm;
    /*width: 25.3mm;
    height: 15mm;*/
    float:left;
    font-style: italic;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 11pt;
    z-index: 10;
}

.bigonhover {
    transition: "transform 2s";
}

.bigonhover:hover {
    transform: scale(1.2, 1.2);
}

.descriptiontext {
    user-select: none;
    -moz-user-select: none; /* Firefox */
    position: absolute; 
    line-height: 100%;
    margin: 87mm 31.5mm;
    transform: translate(-50%, -100%);
    border-radius: 1mm;
    border: 0.3mm solid black;
    text-align: left;
    background-color: rgba(255,255,255,1.0);
    padding: 1mm;
    width: 58.5mm;
    height: 22.2mm;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 15pt;
    z-index: 10;
}

.descriptiontext-lord {
    user-select: none;
    -moz-user-select: none; /* Firefox */
    position: absolute; 
    line-height: 100%;
    margin: 87mm 31.5mm;
    transform: translate(-50%, -100%);
    border-radius: 1mm;
    border: 0.3mm solid black;
    text-align: left;
    background-color: rgba(255,255,255,1.0);
    padding: 1mm;
    width: 58.5mm;
    height: 12.2mm;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 15pt;
    z-index: 10;
}